{% extends  'Layouts/layout_niv2.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block vue %}
    <h2>Connexion </h2>
    <div class="container">
        <div class="card" style="width: 18rem;">
            <form method="post" class="card-body">
                {% if error %}
                    <div class="alert alert-danger">Identifiant ou mot de passe incorrect</div>
                {% endif %}
                <div class="row">
                    <h5 class="card-title">Login</h5>
                    <div class="mb-3">
                        <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" autocomplete="username" required autofocus>
                    </div>
                    <h5 class="card-title">Mot de passe</h5>
                    <div class="mb-3">
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div>
                        <button class="btn btn-success btn-sm" type="submit">
                            Se connecter
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


                        {#    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
{#    <label for="inputLogin">Login</label>#}
{#    <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" autocomplete="username" required autofocus>#}
{#    <label for="inputPassword">Password</label>#}
{#    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>#}

{#    <input type="hidden" name="_csrf_token"#}
{#           value="{{ csrf_token('authenticate') }}"#}
{#    >#}
{#    <button class="btn btn-lg btn-primary" type="submit">#}
{#        Sign in#}
{#    </button>#}