{% extends 'Layouts/layout.html.twig' %}



{% block body %}
    <div id ="header">
        {% include 'Layouts/header.html.twig' %}
    </div>

    <div id="menu">
        {{ render(controller('App\\Controller\\AccueilController::menuAction')) }}
    </div>

    <div id="vue">
        {% block vue %}{% endblock %}
    </div>

{% endblock %}


{% block footer %}
    <div id="footer">
        {% include 'Layouts/footer.html.twig' %}
    </div>
{% endblock %}
