{# menu de l'application #}

<strong>Menu</strong>
<ul>
    <li><a href="{{ path('app_login') }}">connexion</a></li>
    <li><a href="{{ path('produit_list') }}">liste des produits</a></li>
    <li><a href="{{ path('app_logout') }}">déconnexion</a></li>
    <li>Panier</li>
</ul>
