html,body{
    align-items: center;
    justify-content: center;
}

form{
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;

    /*display: flex;*/
    /*flex-direction: column;*/
}
card{
    margin: 500px;
    alignment: center;
}
h1,h2{
    text-align: center;
}
header{
    background: #B0413E;
    height: 100px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
