html,main{
    align-items: center;
    justify-content: center;
}
card{
    margin: 500px;
    alignment: center;
}
h1,h2{
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}