html,main{
    align-items: center;
    justify-content: center;
}


card{
    margin: 500px;
    alignment: center;
}
h1,h2{
    text-align: center;
}
header{
    background: #B0413E;
    height: 100px;
}
/*footer{*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*}*/
