{% extends 'Layouts/layout_niv2.html.twig' %}

{% block title %}{{ parent() }} : Accueil{% endblock %}
{% block vue %}
<div class="container">
    {% if not isStrongPassword == null %}
        {{ dump(isStrongPassword) }}
        {% if  isStrongPassword == true %}
{#                {{ dump(isStrongPassword) }}#}
                Votre mot de passe est fort
            {% else %}
{#                {{ dump(isStrongPassword) }}#}
                Votre mot de passe est faible (contient azerty, qwerty, ou 123465)
            {% endif %}
    {% endif %}
</div>
{% endblock %}

